@import '../../style/assets';

.customNode{
  background: #1860fc;
  @include adaptiveValue('padding', 50, 10, 3);
  @include adaptiveValue('font-size', 22, 12, 1);
  &[data-isnodes="true"]{ background: #42f819 }

  h1{ @include adaptiveValue('font-size', 42, 16, 1) }
  h3{ @include adaptiveValue('font-size', 32, 16, 1) }
  button{ @include adaptiveValue('font-size', 22, 12, 1) }
  input{
    @include adaptiveValue('font-size', 22, 12, 1);
    @include adaptiveValue('max-width', 400, 150, 1);
    border: 1px solid #000000;
  }

   main{
     form{
       div{
         position: relative;
         @include toFD(column);
         margin-bottom: 25px;
         small{
           position: absolute;
           bottom: -20px;
         }
       }
     }
   }

   footer{ a{ margin-right: 20px } }
 }